<h1>About Us</h1>

<h3> This is a Custom Project created for COS20007 Object Oriented Programming by Chan Siaw Wei 101742578</h3>
<p>This web application is created by using Asp. Net Core MVC pattern and c# with 
    Object Oriented Programming which successfully demonstrated the basic four principles.</p>

<p>Any concern or futher information with the website, Please contact us through siawwei98@gmail.com</p>