

<h1> Hi, Welcome to WebUtils</h1>
<h5>This is a Website that Consume Web API from Github. <a href=" https://github.com/toddmotto/public-apis">Click Here To Check</a> </h5>
<br />
<hr />


<h4>Weather</h4>
<p>Allow User to Check Current Weather Condition and Forecast Weather data of any City </p>
<a asp-controller="Home" asp-action="Weather" class="navbar-brand">Check Weather Information Now</a>
<br />
<br />
<br />
<br />
<hr />



<h4>Country</h4>
<p>Allow User to Check information of any Country </p>
<a asp-controller="Home" asp-action="Country" class="navbar-brand">Check Country Information Now</a>
