<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Weather" class="navbar-brand">Weather Information</a></li>
                    <li><a asp-controller="Home" asp-action="Country" class="navbar-brand">Country Information</a></li>
                    <li><a asp-controller="Home" asp-action="About" class="navbar-brand">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
